*, *:after, *:before {
    box-sizing: border-box;
}

body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:100px;
    background-color: #553428d2;
    padding: 0;
    text-align: center;
}

.container {
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: #721b1bdc;
    border: 4px solid black;
    border-radius: 8px;
    width: 335px;
}

.header {
    background-color: #721b1bdc;
    width: 100%;
}
h1 {
    font-family: 'Chewy';
    color: wheat;
}
.screen {
    width: 100%;
    height: 100px;
    background-color: rgb(214, 191, 164);
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding:0 20px;
    white-space: nowrap;
    font-family: 'Chewy';
}

.buttons, body, .container, .screen, .left, .right, .row{
    display: flex;
}
.left {
    flex-direction: column;
}

.right {
    flex-direction: column;
}

button, .number.zero, .act{
    height: 70px;
    width: auto;
    margin: 3px;
    border-radius: 10px;
    font-size: 24px;
    background-color: rgba(77, 141, 120, 0.795);
    color: white;
    border-width: 0px;
    font-family: 'Chewy';
}

.number:hover {
    background-color: rgba(53, 97, 82, 0.795);
}
.number, .act, #delete{
    width: 70px;
}

.clear {
    background-color: rgba(196, 82, 82, 0.76);
}

#clear, .number.zero{
    flex: 1;
}

.clear:hover {
    background-color: rgba(136, 60, 60, 0.76);
}

.act {
    background-color:rgba(82, 114, 196, 0.76);
}

.act:hover {
    background-color: rgba(60, 84, 145, 0.76);
}
