*, *:after, *:before {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.buttons {
    display: flex;
}

.right {
    display: flex;
    flex-direction: column;
}